.logo_button{
	padding: 5px 10px 5px 10px;
	border: 1px solid black;
	margin-left: 20px;
	margin-right: 20px;
	background-color: black;
	color: white;
	border-radius: 5px;
	width: 100px;
	height: 30px;
	opacity: 80%;
}
.logo_button:hover{
	opacity: 100%;
}

.btn_justify{
	background-color: white;
	border: 0px;
	margin: 5px;
	opacity: 80%;
}

.nav_item{
	padding: 8px;
	color: gray;
}
.nav_item:hover{
	color: #83F03C;
	text-decoration: none;
}

ul{
	padding: 10px;
	text-align: center;
}

ul#menu li {
  	display:inline;
}

.round_content_items{
	/*margin-left: 20px;
	margin-right: 20px;*/
	height: auto;
	border: 1px solid #f2f2f2;
	border-radius: 5px;
	background-color: white;
	padding: 15px;
	font-size: 13px;
}